<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1001414116316-19nc9m34bojq34ut1gbjl2qoci4lha0f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1001414116316-19nc9m34bojq34ut1gbjl2qoci4lha0f</string>
	<key>API_KEY</key>
	<string>AIzaSyBxrGOOm_5Gtjh8XodSYOAh51oVcPDNIcw</string>
	<key>GCM_SENDER_ID</key>
	<string>1001414116316</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.firebase.crud</string>
	<key>PROJECT_ID</key>
	<string>flutterfirbasecrud-9231a</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterfirbasecrud-9231a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1001414116316:ios:cb476ab5928087b1268519</string>
</dict>
</plist>